<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>
    <form method="POST" action="{% url 'signin' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <label for="user_type">User Type:</label>
        <select id="user_type" name="user_type">
            <option value="ops">Ops User</option>
            <option value="client">Client User</option>
        </select><br><br>
        
        <button type="submit">Sign In</button>
    </form>
    <p>New here? <a href="{% url 'signup' %}">Sign Up</a></p>
</body>
</html>
